<!--This File is no longer used-->
{% macro related_render(slide_name) %}
  <li>
  <p>{{ slide_name }}</p>
  </li>
{% endmacro %}

<a href="{{base_url}}/related_slide/{{related_course_names[i]}}/{{rel_lnos[i]}}/{{related_slides[i]}}"
   id="{{i}}"
   class="related"
   data-toggle="popover"
   style="color:{{disp_color[i]}};"
   title="<embed type='application/pdf'
   src={{pdf_url}}/static/slides/{{related_course_names[i]|replace(" ","%20")}}/{{rel_lec_names[i]|replace(" ", "%20")}}/{{related_slides[i]|replace(" ", "%20")}}#toolbar=0&navpanes=0&scrollbar=0&view=Fit width='220px' height:'100px' >" >{{disp_str[i]}} </a>
