<!--This File is no longer used-->

{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block body %}
<div class="jumbotron">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> {{course_name}}
        <span class="caret"></span></button>
         <ul class="dropdown-menu">
          {% for j in range(num_courses) %}
              <li><a href="{{base_url}}/searchPage/{{srch_term}}/{{course_names[j]}}">{{course_names[j]}}</a></li>
             {% endfor %}
        </ul>
      </div>
    <div class="row" style="display: flex;padding: 20px;"></div>
        <div class="col-md-9" id="result" padding-bottom="15px"></div>
</div>

<!--    {% for i in range(num_related_slides) %}-->
<!--            <li class="related_slide_element">-->
<!--           <div class="popover__wrapper">-->
<!--                <a href="{{base_url}}/related_slide/{{related_course_names[i]}}/{{rel_lnos[i]}}/{{related_slides[i]}}" id="{{i}}">-->
<!--                <h2 class="popover__title">{{disp_str[i]}}</h2>-->
<!--                </a>-->
<!--                <div class="popover__content" id="content{{i}}">-->
<!--                    <iframe src='{{pdf_url}}/static/slides/{{related_course_names[i]|replace(" ","%20")}}/{{rel_lec_names[i]|replace(" ", "%20")}}/{{related_slides[i]|replace(" ", "%20")}}#toolbar=0&navpanes=0&scrollbar=0&view=Fit' width="220px" height="150px"> </iframe>-->
<!--                </div>-->
<!--            </div>-->

<!--    </li>-->
<!--    {% endfor %}-->

<!--    <div class="popover__wrapper">-->
<!--        <a href="{{base_url}}/related_slide/{{related_course_names[i]}}/{{rel_lnos[i]}}/{{related_slides[i]}}" id="{{i}}">-->
<!--        <h2 class="popover__title">{{disp_str[i]}}</h2>-->
<!--        </a>-->
<!--        <div class="popover__content" id="content{{i}}">-->
<!--            <iframe src='{{pdf_url}}/static/slides/{{related_course_names[i]|replace(" ","%20")}}/{{rel_lec_names[i]|replace(" ", "%20")}}/{{related_slides[i]|replace(" ", "%20")}}#toolbar=0&navpanes=0&scrollbar=0&view=Fit' width="220px" height="150px"> </iframe>-->
<!--        </div>-->
<!--    </div>-->



<script>

    $(function() {
            var srch = "{{srch_term}}"
            var course_name = "{{course_name}}"
            $.ajax({
                    type: "POST",
                    url:"{{base_url}}/search_slides",
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify({'course_name': course_name, 'searchString':  srch ,'route':window.location.pathname}),

    success: function(data){
      result_section = document.getElementById('result');
      while (result_section.firstChild) {
            result_section.removeChild(result_section.firstChild);
        }
      h = document.createElement('h2');

      var searchLog = function(idx) {
          logdata = JSON.stringify({
            action: 'search_res_'+idx,
            route: window.location.pathname
          });
          navigator.sendBeacon('{{base_url}}log_action', logdata);
      };

      h.innerHTML = 'Search Results';

      result_section.appendChild(h);

      for(i=0;i<data['num_results'];i++)
      {
        a = document.createElement('a');
        a.setAttribute('href','{{base_url}}/search_slide/'+data['search_course_names'][i]+'/'+data['lnos'][i]+'/'+data['results'][i]);
        a.innerHTML = data['disp_strs'][i]
        a.setAttribute('id','search_'+i)
        a.setAttribute('class','search_res');
        ['click','contextmenu'].forEach(function(e){a.addEventListener(e, function(){
          searchLog(this.id);
      } , true);})

        result_section.appendChild(a);

        course_name_s =data["search_course_names"][i].replace(/&/g, "&amp;").replace(/>/g, "&gt;").replace(/</g, "&lt;").replace(/ /g, "%20");
        lecture_name_s = data["lec_names"][i].replace(/&/g, "&amp;").replace(/>/g, "&gt;").replace(/</g, "&lt;").replace(/ /g, "%20");
        slide_name_s = data['results'][i].replace(/&/g, "&amp;").replace(/>/g, "&gt;").replace(/</g, "&lt;").replace(/ /g, "%20");



        $('#search_'+i).popover({
          container: 'body',
          trigger : 'hover',
          html: true,
          placement:'top',
          title:"<embed type='application/pdf' id='search_slide' src={{pdf_url}}/static/slides/".concat(course_name_s).concat("/").concat(lecture_name_s).concat('/').concat(slide_name_s).concat("#toolbar=0&navpanes=0&scrollbar=0>")

        })


        b = document.createElement('br');
        result_section.appendChild(b);
        p = document.createElement('p');
        p.innerHTML = data['snippets'][i];
        result_section.appendChild(p);
      }
    },
    failure: function() {
        alert('Error searching');
    }
});
          })


</script>

{% endblock %}