{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block body %}

<div class="jumbotron">

    <!-- Example split danger button -->
      <div class="dropdown">

        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> {{course_name}}
        <span class="caret"></span></button>
         <ul class="dropdown-menu">
          {% for j in range(num_courses) %}

              <li><a href="{{base_url}}/searchPage/{{srch_term}}/{{course_names[j]}}">{{course_names[j]}}</a></li>
              {% endfor %}
        </ul>
      </div>
    </form>


    <div class="row" style="display: flex;padding: 20px;">
        <div class="col-md-9" id="result" padding-bottom="15px">
</div>

<script>

    $(function() {
            var srch = "{{srch_term}}"
            var course_name = "{{course_name}}"
            console.log(srch);
            console.log('search2');
            $.ajax({
    type: "POST",
    url:"{{base_url}}/search_slides",
    contentType: "application/json;charset=utf-8",
    data: JSON.stringify({'course_name': course_name, 'searchString':  srch ,'route':window.location.pathname}),

    success: function(data){
      result_section = document.getElementById('result');
      while (result_section.firstChild) {
            result_section.removeChild(result_section.firstChild);
        }
      h = document.createElement('h2');
      console.log('Search3 ');
      var searchLog = function(idx) {
          logdata = JSON.stringify({
            action: 'search_res_'+idx,
            route: window.location.pathname
          });
          navigator.sendBeacon('{{base_url}}log_action', logdata);
      };

      h.innerHTML = 'Search Results';
      console.log("stuck");
      result_section.appendChild(h);
      console.log("stuck2");
      for(i=0;i<data['num_results'];i++){
        console.log("Hello");
        a = document.createElement('a');
        a.setAttribute('href','{{base_url}}/search_slide/'+data['search_course_names'][i]+'/'+data['lnos'][i]+'/'+data['results'][i]);
        // a.innerHTML = 'Test';
        a.innerHTML = data['disp_strs'][i]
        a.setAttribute('id','search_'+i)
        a.setAttribute('class','search_res');
        ['click','contextmenu'].forEach(function(e){a.addEventListener(e, function(){
          searchLog(this.id);
      } , true);})
      console.log("stuck3");
        result_section.appendChild(a);


        $('#search_'+i).popover({
          container: 'body',
          trigger : 'hover',
          html: true,
          placement:'top',
          title:"<embed type='application/pdf' id='search_slide' src={{pdf_url}}/static/slides/"+data['search_course_names'][i].replace(' ','%20')+'/'+data['lec_names'][i].replace(' ','%20')+'/'+data['results'][i].replace(' ','%20') +"#toolbar=0&navpanes=0&scrollbar=0>"

        })


        b = document.createElement('br');
        result_section.appendChild(b);
        p = document.createElement('p');
        p.innerHTML = 'test2';
        p.innerHTML = data['snippets'][i];
        result_section.appendChild(p);
      }
    },
    failure: function() {
        alert('Error searching');
    }
});
          })


</script>

<script>
  function myFunction() {
    var input = document.getElementById('drop')
    console.log(input)
  }
</script>

{% endblock %}