<!-- slide.html-->
{% extends "base.html" %}
{% block nav %}
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Lectures <span class="caret"></span></a>
         <ul class="dropdown-menu" style="height:auto; max-width: 850px;  max-height:  100vh; overflow:scroll;opacity:0.97;background-color: #E8E8E8;">
{% for i in lnos %}
            <li><a href="{{base_url}}/slide/{{course_name}}/{{i}}">{{' '.join(lec_names[i].replace('.txt','').replace('_','-').split('-')).title()}}</a></li>
             {% endfor %}
          </ul>
        </li>
{% endblock %}

{% block body %}
<!-- <script type=text/javascript> -->
  <!-- $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; -->
<!-- </script> -->

<script>

window.addEventListener( "pageshow", function ( event ) {
    var lec_slide_list = document.getElementById("lec_slides_list");
    cur_selected = document.getElementsByClassName("current_display")[0];
    lec_slide_list.scrollTop = (cur_selected.offsetTop - 100);
    var historyTraversal = event.persisted ||
                         ( typeof window.performance != "undefined" &&
                              window.performance.navigation.type === 2 );
    if ( historyTraversal ) {
        logdata = JSON.stringify({
        action: 'cache_open',
        route: window.location.pathname
        });
        navigator.sendBeacon('{{base_url}}log_action', logdata);
    }
    else{
        logdata = JSON.stringify({
        action: 'open',
        route: window.location.pathname
        });
        navigator.sendBeacon('{{base_url}}log_action', logdata);
    }
    });

    window.addEventListener("beforeunload", function(event) {
        logdata = JSON.stringify({
        action: 'close',
        route: window.location.pathname
    });

    navigator.sendBeacon('{{base_url}}log_action', logdata);

});

var hidden, visibilityChange;

if (typeof document.hidden !== "undefined") { // Opera 12.10 and Firefox 18 and later support
  hidden = "hidden";
  visibilityChange = "visibilitychange";
} else if (typeof document.msHidden !== "undefined") {
  hidden = "msHidden";
  visibilityChange = "msvisibilitychange";
} else if (typeof document.webkitHidden !== "undefined") {
  hidden = "webkitHidden";
  visibilityChange = "webkitvisibilitychange";
}

function handleVisibilityChange() {
  console.log(document['hidden'])
  if (document[hidden]) {
      logdata = JSON.stringify({
      action: 'hide',
      route: window.location.pathname
    });
    navigator.sendBeacon('{{base_url}}log_action', logdata);
  }
   else {
      logdata = JSON.stringify({
      action: 'unhide',
      route: window.location.pathname
    });
    navigator.sendBeacon('{{base_url}}log_action', logdata);
  }
}

// Warn if the browser doesn't support addEventListener or the Page Visibility API
if (typeof document.addEventListener === "undefined" || hidden === undefined) {
  console.log("requires a browser, such as Google Chrome or Firefox, that supports the Page Visibility API.");
} else {
  // Handle page visibility change
  document.addEventListener(visibilityChange, handleVisibilityChange, false);
  }

window.addEventListener("DOMContentLoaded", function(event) {
    var relLinks = document.getElementsByClassName("related");
    var relLog = function(idx) {
    logdata = JSON.stringify({
      action: 'related_'+idx,
      route: window.location.pathname
    });
    navigator.sendBeacon('{{base_url}}log_action', logdata);
};

for (var i = 0; i < relLinks.length; i++) {
    ['click','contextmenu'].forEach(function(e){relLinks[i].addEventListener(e, function(){
    relLog(this.id);
    } , true);})
}


document.getElementById("next").addEventListener('click',function(){  logdata = JSON.stringify({
      action: 'next',
      route: window.location.pathname
    });
  console.log('next')
  navigator.sendBeacon('{{base_url}}log_action', logdata);},true)

document.getElementById("prev").addEventListener('click',function(){  logdata = JSON.stringify({
      action: 'prev',
      route: window.location.pathname
    });
    navigator.sendBeacon('{{base_url}}log_action', logdata);},true)
})

$(function() {
  $('[data-toggle="popover"]').popover({
    placement:function (context, source) {
        var position = $(source).offset();


        if (position.top < 400){
            return "bottom";
        }

        return "top"},
      container: 'body',
    trigger : 'hover',
    html: true


  });
});


$(function() {
          $('#submit').bind('click', function() {
            var srch = document.getElementById('srch-term').value
           $.ajax({
    type: "POST",
    url:"{{base_url}}/search_slides",
    contentType: "application/json;charset=utf-8",
    data: JSON.stringify({ 'searchString':  srch ,'route':window.location.pathname}),

    success: function(data){
      result_section = document.getElementById('result');
      while (result_section.firstChild) {
            result_section.removeChild(result_section.firstChild);
        }
      h = document.createElement('h2');
      var searchLog = function(idx) {
          logdata = JSON.stringify({
            action: 'search_res_'+idx,
            route: window.location.pathname
          });
          navigator.sendBeacon('{{base_url}}log_action', logdata);
      };
      h.innerHTML = 'Search Results';
      result_section.appendChild(h);
      for(i=0;i<data['num_results'];i++){
        a = document.createElement('a');
        a.setAttribute('href','{{base_url}}/search_slide/'+data['search_course_names'][i]+'/'+data['lnos'][i]+'/'+data['results'][i]);
        // a.innerHTML = 'Test';
        a.innerHTML = data['disp_strs'][i]
        a.setAttribute('id','search_'+i)
        a.setAttribute('class','search_res');
        ['click','contextmenu'].forEach(function(e){a.addEventListener(e, function(){
          searchLog(this.id);
      } , true);})

        result_section.appendChild(a);


        $('#search_'+i).popover({
          container: 'body',
          trigger : 'hover',
          html: true,
          placement:'top',
          title:"<embed type='application/pdf' id='search_slide' src={{pdf_url}}/static/slides/"+data['search_course_names'][i].replace(' ','%20')+'/'+data['lec_names'][i].replace(' ','%20')+'/'+data['results'][i].replace(' ','%20') +"#toolbar=0&navpanes=0&scrollbar=0>"

        })


        b = document.createElement('br');
        result_section.appendChild(b);
        p = document.createElement('p');
        // p.innerHTML = 'test2';
        p.innerHTML = data['snippets'][i];
        result_section.appendChild(p);
      }
    },
    failure: function() {
        alert('Error searching');
    }
});
          })
        })


 </script>

<script src="http://127.0.0.1:8097/static/pdfjs-dist/build/pdf.js"></script>
<link href="http://127.0.0.1:8097/static/canvas.css" rel="stylesheet" type="text/css" />
<link href="http://127.0.0.1:8097/static/pdf.js/web/viewer.css" rel="stylesheet" type="text/css" />


<div class="col-sm-12 main">
  <h2>{{' '.join(course_name.split('-')).title()}}</h2>
  <p>{{slide_name.split('----')[-1][:-4].title()}}</p>
  <canvas id="the-canvas"></canvas>
  <div class="textLayer"></div>
  <div>
    <button type="button" id="prev" class="btn btn-success pull-left" style="margin-top: 20px">Previous</button>
    <button type="button" class="btn btn-success pull-right" style="margin-top:20px" id="next">Next</button>
    &nbsp; &nbsp;
    <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
  </div>
</div>
<script>

var url = 'http://localhost:8889/static/slides/cs_410/Week1.pdf#toolbar=0&navpanes=0&/scrollbar=0&view=FitH';
<!--var url = encodeURI(urle);-->
var pdfjsLib = window['pdfjs-dist/build/pdf'];


pdfjsLib.GlobalWorkerOptions.workerSrc = 'http://127.0.0.1:8097/static/pdfjs-dist/build/pdf.worker.js';
console.log("PDFJS",pdfjsLib);

var pdfDoc = null,
pageNum = 1,
pageRendering = false,
pageNumPending = null,
scale = 1,
canvas = document.getElementById('the-canvas'),
ctx = canvas.getContext('2d');

function renderPage(num) {
   pageRendering = true;
   // Using promise to fetch the page
   pdfDoc.getPage(num).then(function(page) {
     var viewport = page.getViewport({scale: scale});
     canvas.height = viewport.height;
     canvas.width = viewport.width;

     // Render PDF page into canvas context
     var renderContext = {
       canvasContext: ctx,
       viewport: viewport
     };
     var renderTask = page.render(renderContext);

     // Wait for rendering to finish
     renderTask.promise.then(function() {
       pageRendering = false;
       if (pageNumPending !== null) {
         // New page rendering is pending
         renderPage(pageNumPending);
         pageNumPending = null;
       }
     }).then(function() {
       // Returns a promise, on resolving it will return text contents of the page
       return page.getTextContent();
     }).then(function(textContent) {

       // Assign CSS to the textLayer element
       var textLayer = document.querySelector(".textLayer");

       textLayer.style.left = canvas.offsetLeft + 'px';
       textLayer.style.top = canvas.offsetTop + 'px';
       textLayer.style.height = canvas.offsetHeight + 'px';
       textLayer.style.width = canvas.offsetWidth + 'px';

       // Pass the data to the method for rendering of text over the pdf canvas.
       pdfjsLib.renderTextLayer({
         textContent: textContent,
         container: textLayer,
         viewport: viewport,
         textDivs: []
       });
     });
   });

   // Update page counters
   document.getElementById('page_num').textContent = num;
 }

 /**
  * If another page rendering in progress, waits until the rendering is
  * finised. Otherwise, executes rendering immediately.
  */
 function queueRenderPage(num) {
   if (pageRendering) {
     pageNumPending = num;
   } else {
     renderPage(num);
   }
 }

 /**
  * Displays previous page.
  */
 function onPrevPage() {
   if (pageNum <= 1) {
     return;
   }
   pageNum--;
   queueRenderPage(pageNum);
 }
 document.getElementById('prev').addEventListener('click', onPrevPage);

 /**
  * Displays next page.
  */
 function onNextPage() {
   if (pageNum >= pdfDoc.numPages) {
     return;
   }
   pageNum++;
   queueRenderPage(pageNum);
 }
 document.getElementById('next').addEventListener('click', onNextPage);

 /**
  * Asynchronously downloads PDF.
  */
 pdfjsLib.getDocument({
  'url': url,
  'mode': 'no-cors',
}).promise.then(function(pdfDoc_) {
   pdfDoc = pdfDoc_;
   console.log(pdfDoc);
   document.getElementById('page_count').textContent = pdfDoc.numPages;

   // Initial/first page rendering
   renderPage(pageNum);
 });
</script>
{% endblock %}


