<!-- slide.html-->
{% extends "base.html" %}
{% block nav %}
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Lectures <span class="caret"></span></a>
         <ul class="dropdown-menu" style="height:auto; max-width: 850px;  max-height:  100vh; overflow:scroll;opacity:0.97;background-color: #E8E8E8;">
{% for i in lnos %}
            <li><a href="{{base_url}}/slide/{{course_name}}/{{i}}">{{' '.join(lec_names[i].replace('.txt','').replace('_','-').split('-')).title()}}</a></li>
             {% endfor %}
          </ul>
        </li>
{% endblock %}

{% block body %}

<script>

window.addEventListener( "pageshow", function ( event ) {
    var lec_slide_list = document.getElementById("lec_slides_list");
    cur_selected = document.getElementsByClassName("current_display")[0];
    lec_slide_list.scrollTop = (cur_selected.offsetTop - 100);
    var historyTraversal = event.persisted ||
                         ( typeof window.performance != "undefined" &&
                              window.performance.navigation.type === 2 );
    if ( historyTraversal ) {
        logdata = JSON.stringify({
        action: 'cache_open',
        route: window.location.pathname
        });
        navigator.sendBeacon('{{base_url}}log_action', logdata);
    }
    else{
        logdata = JSON.stringify({
        action: 'open',
        route: window.location.pathname
        });
        navigator.sendBeacon('{{base_url}}log_action', logdata);
    }
    });

    window.addEventListener("beforeunload", function(event) {
        logdata = JSON.stringify({
        action: 'close',
        route: window.location.pathname
    });

    navigator.sendBeacon('{{base_url}}log_action', logdata);

});

var hidden, visibilityChange;

if (typeof document.hidden !== "undefined") { // Opera 12.10 and Firefox 18 and later support
  hidden = "hidden";
  visibilityChange = "visibilitychange";
} else if (typeof document.msHidden !== "undefined") {
  hidden = "msHidden";
  visibilityChange = "msvisibilitychange";
} else if (typeof document.webkitHidden !== "undefined") {
  hidden = "webkitHidden";
  visibilityChange = "webkitvisibilitychange";
}

function handleVisibilityChange() {
  console.log(document['hidden'])
  if (document[hidden]) {
      logdata = JSON.stringify({
      action: 'hide',
      route: window.location.pathname
    });
    navigator.sendBeacon('{{base_url}}log_action', logdata);
  }
   else {
      logdata = JSON.stringify({
      action: 'unhide',
      route: window.location.pathname
    });
    navigator.sendBeacon('{{base_url}}log_action', logdata);
  }
}

// Warn if the browser doesn't support addEventListener or the Page Visibility API
if (typeof document.addEventListener === "undefined" || hidden === undefined) {
  console.log("requires a browser, such as Google Chrome or Firefox, that supports the Page Visibility API.");
} else {
  // Handle page visibility change
  document.addEventListener(visibilityChange, handleVisibilityChange, false);
  }

window.addEventListener("DOMContentLoaded", function(event) {
    var relLinks = document.getElementsByClassName("related");
    var relLog = function(idx) {
    logdata = JSON.stringify({
      action: 'related_'+idx,
      route: window.location.pathname
    });
    navigator.sendBeacon('{{base_url}}log_action', logdata);
};

for (var i = 0; i < relLinks.length; i++) {
    ['click','contextmenu'].forEach(function(e){relLinks[i].addEventListener(e, function(){
    relLog(this.id);
    } , true);})
}

$(function() {
          $('#submit').bind('click', function() {
            var srch = document.getElementById('srch-term').value
           $.ajax({
    type: "POST",
    url:"{{base_url}}/search_slides",
    contentType: "application/json;charset=utf-8",
    data: JSON.stringify({ 'searchString':  srch ,'route':window.location.pathname}),

    success: function(data){
      result_section = document.getElementById('result');
      while (result_section.firstChild) {
            result_section.removeChild(result_section.firstChild);
        }
      h = document.createElement('h2');
      var searchLog = function(idx) {
          logdata = JSON.stringify({
            action: 'search_res_'+idx,
            route: window.location.pathname
          });
          navigator.sendBeacon('{{base_url}}log_action', logdata);
      };
      h.innerHTML = 'Search Results';
      result_section.appendChild(h);
      for(i=0;i<data['num_results'];i++){
        a = document.createElement('a');
        a.setAttribute('href','{{base_url}}/search_slide/'+data['search_course_names'][i]+'/'+data['lnos'][i]+'/'+data['results'][i]);
        // a.innerHTML = 'Test';
        a.innerHTML = data['disp_strs'][i]
        a.setAttribute('id','search_'+i)
        a.setAttribute('class','search_res');
        ['click','contextmenu'].forEach(function(e){a.addEventListener(e, function(){
          searchLog(this.id);
      } , true);})

        result_section.appendChild(a);


        $('#search_'+i).popover({
          container: 'body',
          trigger : 'hover',
          html: true,
          placement:'top',
          title:"<embed type='application/pdf' id='search_slide' src={{pdf_url}}/static/slides/"+data['search_course_names'][i].replace(' ','%20')+'/'+data['lec_names'][i].replace(' ','%20')+'/'+data['results'][i].replace(' ','%20') +"#toolbar=0&navpanes=0&scrollbar=0>"

        })


        b = document.createElement('br');
        result_section.appendChild(b);
        p = document.createElement('p');
        // p.innerHTML = 'test2';
        p.innerHTML = data['snippets'][i];
        result_section.appendChild(p);
      }
    },
    failure: function() {
        alert('Error searching');
    }
});
          })
        })
})

 </script>

<script src="{{base_url}}static/pdfjs-dist/build/pdf.js"></script>
<link href="{{base_url}}static/pdf.js/web/viewer.css" rel="stylesheet" type="text/css" />
<link href="{{base_url}}static/canvas.css" rel="stylesheet" type="text/css" />

 <div class="container-fluid main_cnt">
  <div id="explanation-container" class="col-sm-12">

     <h3 id="no-explain-text" style="text-align: center;margin-top:20px;">No Explanation Found</h3>
         <div id="docs-div" class="col-md-12 mx-auto">
         <div class="card">
             <div class="card-header">
                 <div style="display: flex;justify-content: space-between;">
                     <b id="explain_title" style="font-size:14pt;margin-left: 10px;
                               padding: 10px;"></b>

                     <span id="close" style="cursor:pointer;float:right;background:transparent;display:inline-block;
                               padding:4px; margin:10px; font-size: 12pt; font-weight: bold;" onclick="hideExp()">X</span>
                 </div>
             </div>
             <div class="card-body">
                 <div style="display: flex">

            <div id="google-search-div" style="flex: 1 1 100%"></div>
                <br>
            </div>
             </div>
        </div>
        </div>
      <br style="clear: both;">
      <div>
          <button type="button" class="btn btn-success pull-left" id="helpfulButton">Helpful</button>
          <button type="button" class="btn btn-danger pull-right" id="notHelpfulButton">Not Helpful</button>
     </div>
     </div>
     <div class="row main_row" >
<div class="col-sm" id="lec_slides_list">
    <ul class="nav nav-sidebar" >
        {% for i in range(lec_slides[0]) %}

        <div style="position:relative;">
<iframe src='{{pdf_url}}/static/slides/{{course_name | replace(" ", "%20")}}/{{lec_name| replace(" ", "%20")}}/{{lec_slides[1][i]|replace(" ", "%20")}}#toolbar=0&navpanes=0&scrollbar=0&view=Fit' width="220px" height="150px"></iframe>
<a  class="{{'current_display' if slide_name==lec_slides[1][i] else ''}}" id="lec_slide_{{i}}" onclick="renderThumbnail({{i+1}})" style="position:absolute; top:0; left:0; display:inline-block; width:220px; height:150px; z-index:5;"></a>
</div>
        {% endfor %}
    </ul>
</div>

<div class="col-sm-8 main">
  <div style="padding: 10px;">

  <h2 id="course_name">{{' '.join(course_name.split('-')).title()}}  </h2>

{% if video_link != '#' %}
  <a id="video_link" href={{video_link}} <button type="button" class="btn pull-right btn-info">Lecture Video</button></a>
  {% endif %}
</div>
  <p id="p_slide_name" style="margin-left: 15px; ">{{slide_name.split('---')|join(" ")|replace('.pdf',' ')|title|replace('-Slides','')}} </p>
    <div class="grid-container" style="text-align:left">
    <button type="button" class="btn btn-primary" onclick="getSelectedTextnew();" > Explain </button>
        <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Download
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a onclick="downloadFile('{{base_url}}static/zipped_lectures/{{course_name}}/{{lec_name}}.pdf','{{lec_name}}.pdf');" href="#">Lecture</a></li>
          <li><a onclick="downloadFile('{{base_url}}static/zipped_lectures/{{course_name}}.zip','{{course_name}}.zip');" href="#">All Lectures</a></li>
        </ul>
      </div>
    </div>

    <div style="overflow:auto;-webkit-overflow-scrolling:touch;text-align:center;margin-top: 20px">
        <canvas id="the-canvas"></canvas>
        <div class="textLayer"></div>
    </div>

    <div style="text-alight:center; margin-bottom: 20px;">
        <button type="button" id="prev" class="btn btn-success pull-left" style="margin-top: 20px">Previous</button>
        <button type="button" class="btn btn-success pull-right" style="margin-top:20px" id="next">Next</button>

    </div>

  </div>


<div class="col-sm-3" id="side_bar_container">
                <ul class="nav nav-sidebar" id="related_slides_bar">
            <h2 id="heading_related">Related slides</h2>

          {% for i in range(num_related_slides) %}
    <li class="related_slide_element">

   <div class="popover__wrapper">
        <a href="{{base_url}}/related_slide/{{related_course_names[i]}}/{{rel_lnos[i]}}/{{related_slides[i]}}" id="{{i}}">
        <h2 class="popover__title">{{disp_str[i]}}</h2>
        </a>
        <div class="popover__content" id="content{{i}}">
            <iframe src='{{pdf_url}}/static/slides/{{related_course_names[i]|replace(" ","%20")}}/{{rel_lec_names[i]|replace(" ", "%20")}}/{{related_slides[i]|replace(" ", "%20")}}#toolbar=0&navpanes=0&scrollbar=0&view=Fit' width="220px" height="150px"> </iframe>
        </div>
    </div>

    </li>
    {% endfor %}

        </ul>
    </div>
     </div>

    </div>

<script type="text/javascript" src="{{base_url}}static/explanation_google_search.js"></script>

<script>
    var search = document.getElementById("srch-term");
    search.addEventListener("keypress", function(event) {
    if (event.key === "Enter") {
        event.preventDefault();
        document.getElementById("submit").click();
    }
    });
</script>

<script>

var url = '{{pdf_url}}/static/slides/{{course_name}}/{{lec_name}}.pdf#toolbar=0&navpanes=0&/scrollbar=0&view=FitH';

var pdfjsLib = window['pdfjs-dist/build/pdf'];
pdfjsLib.GlobalWorkerOptions.workerSrc = '{{base_url}}static/pdfjs-dist/build/pdf.worker.js';
var pdfDoc = null,
pageNum = parseInt('{{slide_name}}'.split('---').pop().split('.')[0].replace('slide',''),10)+1,
pageRendering = false,
pageNumPending = null,
scale = 1,
canvas = document.getElementById('the-canvas'),
ctx = canvas.getContext('2d');


function renderPage(num) {
   pageRendering = true;
   // Using promise to fetch the page
   pdfDoc.getPage(num).then(function(page) {
     var viewport = page.getViewport({scale: scale});
     console.log(page);
     canvas.height = viewport.height;
     canvas.width = viewport.width;

     // Render PDF page into canvas context
     var renderContext = {
       canvasContext: ctx,
       viewport: viewport
     };
     var renderTask = page.render(renderContext);

     // Wait for rendering to finish
     renderTask.promise.then(function() {
       pageRendering = false;
       if (pageNumPending !== null) {
         // New page rendering is pending
         renderPage(pageNumPending);
         pageNumPending = null;
       }
     }).then(function() {
       // Returns a promise, on resolving it will return text contents of the page
       return page.getTextContent();
     }).then(function(textContent) {

       // Assign CSS to the textLayer element
       var textLayer = document.querySelector(".textLayer");

       textLayer.style.left = canvas.offsetLeft + 'px';
       textLayer.style.top = canvas.offsetTop + 'px';
       textLayer.style.height = canvas.offsetHeight + 'px';
       textLayer.style.width = canvas.offsetWidth + 'px';

       // Pass the data to the method for rendering of text over the pdf canvas.
       pdfjsLib.renderTextLayer({
         textContent: textContent,
         container: textLayer,
         viewport: viewport,
         textDivs: []
       });
     });
   });

   // Update page counters
<!--   document.getElementById('page_num').textContent = num;-->
 }

function renderThumbnail(num){
    renderPage(num);
    changedSlide(num, pageNum);
    pageNum= num;
}

function changedSlide(pageNum, oldNum){

    pageNum--;
    oldNum--;

    lec_slide_list = document.getElementById("lec_slides_list");
    cur_id_name="lec_slide_"+pageNum.toString();
    old_id_name="lec_slide_"+oldNum.toString();

    var old_selected = document.getElementById(old_id_name);
<!--    old_selected.className = "old_display";-->
    old_selected.classList.remove("current_display");

    var cur_selected = document.getElementById(cur_id_name);
    cur_selected.classList.add("current_display");

    lec_slide_list.scrollTop = pageNum*150;
    console.log("Scroll Tp",lec_slide_list.scrollTop,"cur_selected.offsetTop",cur_selected.offsetTop,"Pagenum",pageNum);

    rel_bar = document.getElementById('side_bar_container');

    rel_list = document.getElementById("related_slides_bar");

    rel_list_elements = document.getElementsByClassName('related_slide_element');


    for (var i = rel_list_elements.length - 1; i >= 0; --i) {
        rel_list_elements[i].remove();
    }

    var xmlHttp = new XMLHttpRequest();
    course = "{{course_name}}";
    lec = "{{lec_name}}";
    new_slide_name = course.concat("---").concat(lec).concat("---slide").concat(pageNum.toString()).concat(".pdf");
    var url = '{{base_url}}/get_related_slides/{{course_name}}/{{lno}}/'.concat(new_slide_name);
    xmlHttp.open( "GET",url, false );
    xmlHttp.send( null );
    const responses = JSON.parse(xmlHttp.responseText);
    document.getElementById("p_slide_name").textContent=new_slide_name.split(".pdf")[0].split('---').join(' ').replace('-Slides','');

    for (var i=0; i<responses["num_related_slides"];i++){
        var list_obj = document.createElement('li');
        list_obj.classList.add('related_slide_element');

        var div = document.createElement('div');
        div.classList.add('popover__wrapper');

        var a = document.createElement('a');
        a.href="{{base_url}}".concat("/").concat("related_slide").concat("/").concat(responses["related_course_names"][i]).concat("/").concat(responses["rel_lnos"][i].toString()).concat("/").concat(responses["related_slides"][i]);
        a.id= i;

        var h2 = document.createElement('h2');
        h2.classList.add('popover__title');
        h2.textContent=responses['disp_str'][i];

        a.appendChild(h2);

        var content = document.createElement('div');
        content.classList.add('popover__content');
        content.id="content".concat(i.toString());

        var iframe = document.createElement('iframe');
        iframe.src = "{{pdf_url}}/static/slides/".concat(responses["related_course_names"][i]).concat("/").concat(responses["rel_lec_names"][i]).concat("/").concat(responses["related_slides"][i]).concat("#toolbar=0&navpanes=0&scrollbar=0&view=Fit");
        iframe.width="220px";
        iframe.height="150px";
        content.appendChild(iframe);

        div.appendChild(a);
        div.append(content);

        list_obj.appendChild(div);
        rel_list.appendChild(list_obj);
    }


}


 function queueRenderPage(num) {
   if (pageRendering) {
     pageNumPending = num;
   } else {
     renderPage(num);
   }
 }

 /**
  * Displays previous page.
  */
 function onPrevPage() {
   if (pageNum <= 1) {
     return;
   }
   pageNum--;
   queueRenderPage(pageNum);
   changedSlide(pageNum, pageNum+1);
 }
 document.getElementById('prev').addEventListener('click', onPrevPage);

 function onNextPage() {
   if (pageNum >= pdfDoc.numPages) {
     return;
   }
   pageNum++;
   queueRenderPage(pageNum);
   changedSlide(pageNum,pageNum-1);
 }
 document.getElementById('next').addEventListener('click', onNextPage);


 pdfjsLib.getDocument({
  'url': url,
  'mode': 'no-cors',
}).promise.then(function(pdfDoc_) {
   pdfDoc = pdfDoc_;
   console.log(pdfDoc);
   // Initial/first page rendering
   renderPage(pageNum);
 });

function getSelectedTextnew() {
     if (window.getSelection) {

      var text = window.getSelection().toString();
      console.log(text);

      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
  };

      xhttp.open("POST", "{{base_url}}explain", true);

      xhttp.setRequestHeader("Content-type", "application/json;charset=utf-8");
      console.log("Text content", $(".textLayer").text());
      xhttp.send(JSON.stringify({ 'url':window.location.href,'searchString':  text,'slidesContext': $(".textLayer").text() ,  'route': window.location.pathname
}));

      }

     else if (document.selection) {
       console.log(document.selection)
       console.log("2")
       return document.selection.createRange().text;
     }
     return '';
  }

function downloadFile(url,lecture){
    const a = document.createElement("a");

    filename = lecture;

    a.href = url;
    a.target = "_blank";

    if ("download" in a) {
        a.download = filename;
      }

    (document.body || document.documentElement).appendChild(a);
    a.click();
    a.remove();
}
</script>

{% endblock %}


